.managenominees table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
}

.managenominees th {
  font-size: 11px !important;
  border: 1px solid #adabe0;
}

.managenominees td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
  font-size: 11px;
  background-color: #adabe0;
}

.managenominees tr:nth-child(even) {
  background-color: rgb(156, 171, 189);
}

.employee_data{
  width: 50%;
  margin: 0 auto;
}
.upload_header{
  width: 50%;
  margin: 0 auto;
}