.nominate-panel {
  display: flex;
  background-color: white;
  margin: 12px;
  height: 600px;
  width: fit-content;
  box-sizing: border-box;
}

.employee-list-panel {
  background-color: grey;
  margin: 12px;
  border-radius: 10px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  position: relative;
}

.shortlist-panel {
  margin: 12px;
  border-radius: 10px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  padding: 12px;
  background-color: grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.employee-list {
  background-color: inherit;
  overflow-y: scroll;
  border-radius: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 500px;
  position: relative;
}

.shortlist {
  width: 350px;
}

.employee-list::-webkit-scrollbar {
  display: none;
}

.employee-list .employee-details,
.shortlist .employee-details {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: white;
  margin: 12px;
  border-radius: 10px;
  position: relative;
  gap: 24px;
}

.employee-list.reached-bottom ~ #scroll-indicator {
  display: none;
}

#scroll-indicator {
  height: 110px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #e6e6e6 100%
  );
  position: absolute;
  bottom: 0;
  pointer-events: none;
  border-radius: 10px;
}

.search-name {
  height: 50px;
  padding: 12px;
  margin: 24px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  overflow: hidden;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  font: inherit;
  font-size: inherit;
}

.employee-details > img {
  height: 40px;
  width: 40px;
}

.employee-details > div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.employee-details div:nth-child(3) {
  flex: 0 0 180px;
}

.employee-details div:nth-child(2) {
  flex: 0 0 180px;
}

.employee-list .employee-details:hover {
  color: white;
  background-color: lightblue;
  cursor: pointer;
}

.employee-details .remove-icon {
  position: absolute;
  top: 1px;
  right: 2px;
  cursor: pointer;
}

.employee-details .edit-icon {
  position: absolute;
  top: 1px;
  right: 27px;
  cursor: pointer;
}

.shortlist .employee-details {
  height: 75px;
}

.modal-content .message {
  font-size: inherit;
  color: inherit;
}

.confirm-button,
.cancel-button {
  font-size: inherit;
  padding: 10px;
  margin: 12px 6px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: fit-content;
  min-width: 75px;
}

.cancel-button {
  background-color: #ff9999;
}

.confirm-button {
  background-color: #99ff99;
}

.close-icon {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
}

.comments .comments-input {
  border-radius: 5px;
  border: 1px gray solid;
  outline: none;
  overflow: hidden;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  font: inherit;
  font-size: inherit;
  height: 115px;
  width: 200px;
}

.modal-content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-content .interaction {
  text-align: center;
}

.modal-content .comments,
.modal-content .employee-name {
  display: flex;
  gap: 6px;
  width: fit-content;
}

.modal-content .comments {
  align-items: center;
}
