.nominate-panel {
  display: flex;
  background-color: white;
  margin: 12px;
  height: 100%;
  width: fit-content;
  box-sizing: border-box;
}

.employee-list-panel {
  background-color: grey;
  margin: 12px;
  border-radius: 10px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
}

.shortlist-panel {
  margin: 12px;
  border-radius: 10px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  padding: 12px;
  background-color: grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employee-list {
  background-color: inherit;
  overflow-y: scroll;
  border-radius: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 500px;
}

.shortlist {
  width: 350px;
}

.employee-list::-webkit-scrollbar {
  display: none;
}

.employee-list .employee-details,
.shortlist .employee-details {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: white;
  margin: 12px;
  border-radius: 10px;
  position: relative;
  gap: 24px;
  max-width: 100%;
}

.employee-details > img {
  height: 40px;
  width: 40px;
}

.employee-details > div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.employee-details div:nth-child(3) {
  flex: 0 0 180px;
}

.employee-details div:nth-child(2) {
  flex: 0 0 180px;
}

.employee-list .employee-details:hover {
  color: white;
  background-color: lightblue;
  cursor: pointer;
}

.employee-details .remove-icon {
  position: absolute;
  top: 1px;
  right: 2px;
  cursor: pointer;
}

.employee-details .edit-icon {
  position: absolute;
  top: 1px;
  right: 27px;
  cursor: pointer;
}

.shortlist .employee-details {
  height: 75px;
}
